$bg-main: #b991b5;
$bg-light: #e2d6f8;
$bg-gray: #bebebe;
$bg-chat: #edf0f9;
$bg-navbar: #563780;
$bg-app: linear-gradient(to bottom, #553680, #8c498599 60%);
$txt-main: #fffdcc;
$txt-header: #142051;
$success: #42b983;
$done: #808386;
$danger: #b94242;
$friend-name: #000000;
$friend-last-msg: #7a7a7a;
