@import 'src/assets/scss/variables';

// SIGN IN/UP PAGE
#auth-container {
    min-height: 100vh;
    background-color: $bg-main;

    .logo-container {
        display: flex;
        justify-content: center;
    }

    #auth-card {
        display: flex;
        justify-content: center;

        & > div {
            display: flex;
            flex-direction: column;
            margin-top: 2.5rem;

            @media (min-width: 800px) {
                flex-direction: row;
                min-width: 500px;
                margin-top: 2.5rem;
            }

            & > div {
                @media (max-width: 800px) {
                    border-radius: 20px;
                }
            }

            #image-section {
                background-color: $bg-light;

                @media (min-width: 800px) {
                    min-width: 400px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }

                img {
                    max-height: 300px;
                    width: 100%;
                }
            }

            #form-section {
                min-width: 100%;
                background-color: $bg-light;

                @media (min-width: 800px) {
                    min-width: 200px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }

                .formContainer {
                    padding: 50px;
                }
                form {
                    .title {
                        color: black;
                        font-size: 1.25rem;
                        font-weight: 700;
                    }

                    .subTitle {
                        color: black;
                        font-size: 0.875rem;
                    }

                    .formLabel {
                        margin-top: 5px;
                        font-size: 0.75rem;
                        color: #718096;
                    }

                    .centerInput {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 5px;
                    }

                    .formInput {
                        width: 100%;
                        height: 100%;
                        padding: 0.5rem 0.5rem;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        color: #374151;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #d2d6dc;
                        border-radius: 0.25rem;
                        transition: border-color 0.15s ease-in-out,
                            box-shadow 0.15s ease-in-out;
                    }

                    .formInput:focus {
                        outline: none;
                        border-color: black;
                    }

                    .formInput::placeholder {
                        color: #9ca3af;
                        font-family: Consolas, Menlo, Monaco, Lucida Console,
                            Liberation Mono, DejaVu Sans Mono,
                            Bitstream Vera Sans Mono, Courier New, monospace,
                            serif;
                    }

                    .formInput:-ms-input-placeholder {
                        color: #9ca3af;
                    }

                    .formInput::-ms-input-placeholder {
                        color: #9ca3af;
                    }

                    .formButton {
                        display: flex;
                        height: 2.5rem;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0.375rem;
                        border: 1px solid black;
                        font-size: 0.875rem;
                        font-family: 'Montserrat', sans-serif;
                        transition: all 0.2s ease-in-out;
                        outline: none;
                        background-color: black;
                        color: white;
                    }

                    .formButton:hover {
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }

                    .embeddedUrl {
                        color: #393d44;
                        font-size: 0.875rem;
                        font-weight: 800;
                        text-decoration: underline;
                    }

                    .embeddedUrl:hover {
                        color: black;
                        font-weight: 900;
                        font-size: 0.95rem;
                    }

                    .fullWidth {
                        width: 100%;
                    }

                    .loading {
                        display: inline-flex;
                        align-items: center;
                    }

                    .loading .spacer {
                        margin-right: 2px;
                    }

                    .loading span {
                        animation-name: blink;
                        animation-duration: 1.4s;
                        animation-iteration-count: infinite;
                        animation-fill-mode: both;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        display: inline-block;
                        margin: 0 1px;
                    }

                    .loading span:nth-of-type(2) {
                        animation-delay: 0.2s;
                    }

                    .loading span:nth-of-type(3) {
                        animation-delay: 0.4s;
                    }

                    @keyframes blink {
                        0% {
                            opacity: 0.2;
                        }

                        20% {
                            opacity: 1;
                        }

                        100% {
                            opacity: 0.2;
                        }
                    }
                }
            }
        }
    }
}

// CHAT PAGE
#chat-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $bg-chat;
    height: 100%;
    margin: 0 !important;

    // NAVIGATION BAR
    #navbar {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        height: 60px;
        padding: 20px;
        background-color: $bg-navbar;
        padding: 0 10px;

        #profile-menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            position: relative;
            cursor: pointer;

            .notification-badge {
                position: relative;
                display: inline-block;
            }

            .badge {
                position: absolute;
                top: -5px;
                right: 0px;
                background-color: red;
                color: white;
                border-radius: 50%;
                padding: 4px;
                font-size: 0.8rem;
            }

            img {
                display: flex;
                justify-content: flex-end;
                color: white;

                margin-right: 5px;
                border-radius: 20px;
            }
        }
    }

    // CSS for FriendList and Messenger component
    #chat-wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        padding: 2rem 1rem;
        background-color: white;

        @media (min-width: 800px) {
            flex-direction: row;
        }

        // CSS for FriendList component
        #friends {
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            background-color: #fff;
            margin-bottom: 1rem;

            @media (min-width: 800px) {
                flex-grow: 1;
                margin-right: 2rem;
                max-width: 250px;
                min-width: 250px;
                margin-bottom: 0;
            }

            #title {
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
                align-items: flex-end;

                h2 {
                    color: $txt-header;
                }

                .formButton {
                    display: flex;
                    height: 2rem;
                    width: 60px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.375rem;
                    border: 1px solid black;
                    font-size: 0.875rem;
                    font-family: 'Montserrat', sans-serif;
                    transition: all 0.2s ease-in-out;
                    outline: none;
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }
            }

            #friends-box {
                overflow-y: auto;
                display: flex;
                text-align: left;

                @media (min-width: 800px) {
                    flex-direction: column;
                }

                .friend-list {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    cursor: pointer;
                    flex-direction: column;
                    min-width: fit-content;

                    @media (min-width: 800px) {
                        flex-direction: row;
                    }

                    & > div {
                        display: flex;

                        img {
                            display: flex;
                            align-self: center;
                            margin-right: 5px;
                            border-radius: 50%;
                        }

                        .friend-info {
                            display: flex;
                            align-self: center;
                            flex-direction: column;
                        }
                    }

                    .friend-status {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                #no-chat {
                    padding: 10px;
                }
            }

            .btn-success {
                background-color: $success;
                border: none;
                padding: 5px;
                width: 50px;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                font-weight: 600;
                margin-top: 5px;
            }
        }

        // CSS for Messenger component
        #messenger {
            width: 100%;
            display: flex;

            #messenger-wrap {
                width: 100%;
                background-color: white;
                justify-content: space-between;
            }
            // CSS for ChatHeader component
            #chatter {
                overflow-y: auto;
                display: flex;
                text-align: left;
                margin-top: 10px;
                justify-items: center;
                justify-content: space-between;

                h3 {
                    margin: 0 10px 0 0;
                }

                .chatter-info {
                    display: flex;
                    margin-right: 10px;
                    min-width: 80px;
                    padding: 10px;
                }

                .fa-icon {
                    display: flex;
                    margin-right: 10px;
                    min-width: 80px;
                    padding: 10px;
                }

                #chatter-status {
                    display: flex;
                    align-items: center;
                }
            }

            // CSS for MessageBox component
            #msg-box {
                scroll-behavior: auto;
                overflow-y: scroll;
                flex-grow: 2;
                height: 85%;
                margin-bottom: 10px;

                @media screen {
                }
                //CSS for Message component
                .creator {
                    justify-content: flex-end;
                }

                .mb-5 {
                    margin-bottom: 5px;
                }

                .mb-10 {
                    margin-bottom: 10px;
                }

                .message {
                    display: flex;
                    padding-right: 5px;
                    text-align: left;

                    p {
                        word-wrap: break-word;
                        word-break: break-word;
                    }

                    & > div {
                        border-radius: 20px;
                    }

                    .owner {
                        background-color: $bg-main;
                        color: white;
                        padding: 10px;
                    }

                    .other-person {
                        background-color: #f5f6f8;
                        padding: 10px;
                    }

                    .dots {
                        margin: -5px 0 3px 0;
                    }

                    img {
                        max-width: 200px;
                    }
                }
            }

            // CSS for MessageInput component
            #input-container {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;

                #message-input {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    border-radius: 5px;
                }
                input {
                    height: 50px;
                    width: 100%;
                    box-sizing: border-box;
                    margin-right: 0.5rem;
                    border: 5px solid rgb(255, 197, 250);
                    border-radius: 15px;
                }
            }
        }

        hr {
            border-top: 1px solid #cfcfcf;
            width: 100%;
            margin-bottom: 0;
        }

        #suggestions {
            margin-top: 10px;
            overflow-y: auto;
            max-height: 300px;
        }

        .online-status {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }

        .online {
            background-color: green;
        }

        .offline {
            background-color: red;
        }
    }
    #chat-wrap > div {
        #messenger-wrap {
            width: 100%;
            background-color: white;
            justify-content: space-between;
        }
    }
}

// CUSTOM MODAL
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;

    .modal-wrapper {
        margin: 2rem 10px 10px 10px;

        .modal-container {
            max-width: 400px;
            margin: 0px auto;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
            transition: all 0.3s ease;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;

            .modal-header {
                background-color: wheat;
                padding: 10px;
                color: black;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                text-align: center;
            }

            .modal-body {
                padding: 5px;
                background-color: white;
                text-align: left;

                input {
                    background-color: #f5f6f8;
                    border: none;
                    padding: 10px;
                    width: 100%;
                    box-sizing: border-box;
                }
            }

            .modal-footer {
                padding: 10px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                button {
                    background-color: #f2f2f2;
                    border: none;
                    padding: 5px;
                    width: 70px;
                    color: black;
                    border-radius: 10px;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
        }
    }
}
