@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './assets/scss/variables.scss';
body {
    background-color: #f9fafb;
    font-family: 'Montserrat', sans-serif;
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .image-welcome {
        max-width: 400px;
    }

    .App-name {
        display: flex;
        justify-content: center;

        color: white;
        padding-left: 20px;
        position: absolute;
        top: 0;
        left: 0;
        font-size: x-large;
        font-weight: bolder;

        p {
            font-weight: lighter;
            color: aqua;
            margin: 0;
            padding: 5px;
        }
    }

    .title {
        color: $txt-main;
        font-size: 50px;
        font-weight: 900;
    }

    .subTitle {
        color: white;

        a {
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid;
            background-color: $txt-main;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 15px;
            transition: all 0.3s ease;
        }
    }
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

.AppPadding {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.logo {
    height: 20vmin;
    pointer-events: none;
}

.m-0 {
    margin: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 5s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
